<footer>
    <div class="footer-navbar">
        <ul type="none">
            <li>каталог</li>
            <li>контакты</li>
            <li>личный кабинет</li>
            <li>карта сайта</li>
            <li>оплата и доставка</li>
            <li>обмен и возврат</li>
        </ul>
    </div>
    <div>
        <ul type="none">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a>Политика конфиденциальности</a>
    </div>

    <div class="footer-end">
        <p>&#169; Все права защищены</p>
    </div>
</footer>
<div class="btn-scrollUp" onmousedown="selectionScrollButton()" onmouseup="noselectionScrollButton()"
    onmouseout="noselectionScrollButton()">
    <a><span></span><span></span></a>
</div>