<footer>

    <div class="footer-navbar">
        <ul type="none">
            <li>каталог</li>
            <li>контакты</li>
            <li>личный кабинет</li>
            <li>карта сайта</li>
            <li>оплата и доставка</li>
            <li>обмен и возврат</li>
        </ul>
    </div>
    <div>
        <ul type="none">
            <li><img src="img/svg/facebook.svg" alt="facebook-icon"></li>
            <li><img src="img/svg/instagram.svg" alt="instagram-icon"></li>
            <li><img src="img/svg/vk.svg" alt="vk-icon"></li>
            <li><img src="img/svg/youtube.svg" alt="youtube-icon"></li>
            <li><img src="img/svg/odnoklasniki.svg" alt="odnoklasniki-icon"></li>
            <li><img src="img/svg/telegram.svg" alt="telegram-icon"></li>
        </ul>
        <a>Политика конфиденциальности</a>
    </div>

    <div class="footer-end">
        <p>&#169; Все права защищены</p>
    </div>

</footer>
<div class="btn-scrollUp" onmousedown="selectionScrollButton()" onmouseup="noselectionScrollButton()"
    onmouseout="noselectionScrollButton()">
    <a><span></span><span></span></a>
</div>