<header>
    <div class="navbar-header">
        <ul type="none">
            <li>О нас</li>
            <li>Оптовым покупателям</li>
            <li>Оплата и доставка</li>
            <li>Отзывы</li>
            <li>Контакты</li>
            <li>Блок</li>
            <li>Помощь</li>
        </ul>
        <div class="registration-block">
            <p><span>Вход</span> | <span>Регистрация</span></p>

        </div>
    </div>
    <div class="container-header">
        <div id="logo"></div>
        <div>
            <div class="container-header-tel">
                <div>
                    <div><img src="img/svg/viber-icon.svg" alt="viber-icon"></div>
                    <div>
                        <p>+375 (33) 330-30-40</p>
                        <p>пн-сб с 10 до 19</p>
                    </div>

                </div>
                <div>
                    <button>заказать звонок</button>
                </div>
                <div><img src="img/svg/magnifer.svg" alt="magnifer"></div>
            </div>

            <div class="line"></div>

            <div class="container-header-comparison">
                <div><p>Сравнение</p></div>
            </div>

            <div class="line"></div>

            <div class="container-header-basket">
                <div><p>Корзина</p></div>
            </div>
        </div>

    </div>
</header>