<div id="da-slider" class="da-slider">
    <div class="slide">
        <div>
            <div><img src="img/orly-grey-nail-varnish.jpg" alt="nail-varnish"></div>

            <p>Гель-лак ORLY Pamper Me <br> Breathable Nail Varnish 18 ml</p>


            <div class="crossed-text">
                <p>14 руб.</p>
                <p>24 руб.</p>
            </div>

        </div>

        <div>
            <div><img src="img/orly-pink-nail-varnish.jpg" alt="nail-varnish"></div>

            <p>Гель-лак ORLY Pamper Me <br> Breathable Nail Varnish 18 ml</p>

            <div>
                <p>14 руб.</p>

            </div>
        </div>

        <div>
            <div><img src="img/orly-grey-nail-varnish.jpg" alt="nail-varnish"></div>

            <p>Гель-лак ORLY Pamper Me <br> Breathable Nail Varnish 18 ml</p>

            <div>
                <p>14 руб.</p>

            </div>
        </div>

        <div>
            <div><img src="img/orly-pink-nail-varnish.jpg" alt="nail-varnish"></div>

            <p>Гель-лак ORLY Pamper Me <br> Breathable Nail Varnish 18 ml</p>

            <div>
                <p>14 руб.</p>

            </div>
        </div>
    </div>
</div>