$basic-text-selection_color: #fff;
$primary-highlight_color: rgb(223, 6, 44);
$back-and-text_color: #1e4e98;
$header-footer-line_color: #f3f5f9;
$selection-of-irrelevant-text_color: #bababd;

@font-face {
    font-family: "agenda-light";
    src: url("../fonts/agenda-light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "muller";
    src: url("../fonts/MullerExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@mixin hamburger_transition {
    transition: all 0.3s;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #e5e5e5;
}

.container {
    margin: 0 auto;
    padding: 0 165px;
    max-width: 1170px;
    background-color: $basic-text-selection_color;
}

p,
h1,
li,
a {
    font-family: "agenda-light";
}

a {
    color: $basic-text-selection_color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.navbar-header {
    margin: 0 -165px;
    padding: 0 165px;
    background-color: $header-footer-line_color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    >ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        >li {
            margin-left: 30px;
            color: $selection-of-irrelevant-text_color;

        }

        >li:hover {
            color: $primary-highlight_color;
            cursor: pointer;
        }
    }

    >.registration-block {
        padding: 0 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        svg {
            padding-top: 1px;
        }

        >p {
            padding-left: 9px;
            color: $back-and-text_color;

            span {
                cursor: pointer;
            }
        }
    }
}

.container-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    >div:nth-child(2) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .container-header-tel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        >div:first-child {
            display: flex;
            flex-flow: row nowrap;

            >div:first-child {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $header-footer-line_color;
                cursor: pointer;

                >img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }

            >div:nth-child(2) {
                padding-left: 20px;
                display: flex;
                flex-flow: column nowrap;

                p:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }

                p:nth-child(2) {
                    color: $selection-of-irrelevant-text_color;
                    align-self: flex-end;
                }
            }
        }

        >button {
            transition: all 0.5s ease-out;
            margin: 0 60px 0 40px;
            background-color: #ffe6eb;
            text-transform: uppercase;
            font-weight: bold;
            color: $primary-highlight_color;
            border-radius: 4px;
            width: 180px;
            height: 40px;
            border: none;
            cursor: pointer;
        }

        >button:hover {
            transition: all 0.5s ease-out;
            background-color: #fdc1cc;
        }

        >div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $back-and-text_color;

            >img {
                width: 15px;
                height: 15px;
                color: $basic-text-selection_color;
            }
        }
    }
}

.button-exponent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    >div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -22px 0 0 -10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $back-and-text_color;
        color: $basic-text-selection_color;
        font-family: "agenda-light";
        border: 3px solid $basic-text-selection_color;
        cursor: pointer;
    }

    >p:nth-child(3) {
        margin-left: 5px;
    }
}

.container-header-comparison {
    >div {
        >div:first-child {
            background-color: #ffe6eb;

            >img {
                width: 23px;
                height: 23px;
            }
        }
    }
}

.container-header-basket {
    >div {
        >div:first-child {
            background-color: $primary-highlight_color;

            >img {
                margin-left: -2px;
                width: 17px;
                height: 17px;
            }
        }
    }
}

.line {
    margin: 0 40px;
    height: 60px;
    width: 1px;
    border-radius: 5px;
    background-color: $header-footer-line_color;
}

#logo {
    background-image: url('../img/svg/logo.svg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 150px;
    height: 70px;
}

#navbar {
    >ul {
        margin: 0 -165px;
        padding: 0 165px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: $back-and-text_color;
        background: linear-gradient(90deg, rgba(30, 78, 152, 1) 0%, rgba(49, 89, 152, 1) 10%, rgba(50, 90, 152, 0.7651435574229692) 30%, rgba(49, 89, 152, 1) 60%, rgba(30, 78, 152, 1) 100%);


        >li {
            height: 50px;
            text-transform: uppercase;
            padding: 0 20px;
            color: $basic-text-selection_color;
            display: flex;
            align-items: center;
        }

        >li:hover {
            background-color: $primary-highlight_color;
            color: $basic-text-selection_color;
            cursor: pointer;
        }
    }
}



.stocks {
    margin: 0 -165px;
    padding: 80px 165px;
    background-color: #f9f9f9;

    >h1 {
        margin-bottom: 40px;
    }

    .stocks__item-container-novelty-varnish-black-friday-nail-dryer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .container__varnish-black-friday-nail-dryer {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            .container__black-friday-nail-dryer {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                .nail-dryer {
                    height: 310px;
                    width: 292px;
                    background-image: url('../img/nail-dryer.jpg');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    >p:first-child {
                        margin: 30px 0 0 20px;
                        text-align: center;
                        width: 144px;
                        height: 26px;
                        padding: 4px 5px 0;
                        background-image: url('../img/svg/back-1.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        color: $basic-text-selection_color;
                    }
                }


                .black-friday {
                    background-image: url('../img/interior.jpg');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 310px;
                    width: 293px;

                    >p {
                        color: #FFF;
                    }

                    >p:nth-child(2) {
                        margin: -280px 0 0 20px;
                        position: absolute;
                        text-align: center;

                        width: 120px;
                        height: 26px;
                        padding: 4px 5px 0;
                        background-image: url('../img/svg/back-2.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    >div:nth-child(1) {
                        padding-top: 125px;
                        height: 185px;
                        width: 293px;
                        text-align: center;
                        mix-blend-mode: multiply;
                        background-color: #1e1c1d;
                        color: #FFF;
                        font-family: "muller";
                        font-style: normal;
                        font-weight: 900;
                        font-size: 70px;
                        line-height: 70px;
                        text-transform: uppercase;

                        >span {
                            display: inline;
                        }
                    }

                    >p:nth-child(3) {
                        position: absolute;
                        text-align: center;
                        margin: -115px 0 0 60px;
                    }
                }
            }

            .varnish {
                height: 310px;
                width: 585px;
                background-image: url('../img/varnish.png');
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
            }
        }

        .novelty {
            height: 620px;
            width: 585px;
            background-image: url('../img/manicure-tools.jpg');
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;

            >p:nth-child(1) {
                width: 65px;
                height: 26px;
                margin: 30px 0 0 20px;
                padding: 4px 10px 0;
                background-image: url('../img/svg/back-3.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                font-family: "agenda-light";
                text-align: center;
                color: $basic-text-selection_color;
            }

            >p:nth-child(2) {
                margin: 215px 0 0 20px;
                font-size: 30px;
                text-transform: uppercase;
            }
        }
    }
}



.slide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    >li:first-child>div {
        >div:first-child {
            >span {
                color: $basic-text-selection_color;
                position: absolute;
                margin: 25px 0 0 -70px;
                padding: 0 10px;
                background-image: url('../img/svg/back-4.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                font-family: "agenda-light";
            }
        }


        >div:last-child {
            >p:last-child {
                margin-left: 10px;
            }
        }
    }

    >li:not(:first-child)>div>div:last-child>p {
        color: $back-and-text_color;
        font-weight: bold;
        font-size: 18px;
    }


    >li>div {
        width: 282px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        >div:first-child {
            width: 270px;
            text-align: center;
            border: 1px solid $header-footer-line_color;

            >img {

                height: 220px;
                padding: 25px 0 30px;
            }
        }

        >p:nth-child(2) {
            padding: 10px 0 20px;
        }

        >div:last-child {
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            >p {
                display: inline-block;
            }
        }
    }
}

.crossed-text {
    p:first-child {
        color: $primary-highlight_color;
        font-weight: bold;
        font-size: 18px;
    }

    p:last-child {
        white-space: pre;
        position: relative;
        display: inline-block;
        color: $selection-of-irrelevant-text_color;
        font-size: 18px;
    }

    p:last-child:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        color: $selection-of-irrelevant-text_color;
        width: 100%;
        height: 0;
        border-bottom: 1px solid $selection-of-irrelevant-text_color;
        transform: rotate(-5deg);
    }
}

// Carousel
.container-slider {
    margin: 20px 0 80px;

    #slider {
        position: relative;
        width: 1130px;
        height: 400px;
    }

    .thumbelina {
        padding: 0px;
        margin: 0px;
        position: absolute;
        -webkit-touch-callout: none;
        -webkit-user-select: none;

        li {
            padding: 1px;
        }
    }

    .thumbelina-but {
        position: absolute;
        background-color: #ccc;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        z-index: 1;
        cursor: pointer;

        color: #888;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-family: monospace;
    }

    #slider {
        >div:first-child {
            position: absolute;
            margin: -58px 0 0 1085px;
        }

        >div:nth-child(3) {
            position: absolute;
            margin: -58px 0 0 0;
        }
    }

    .thumbelina-but:hover {
        color: $basic-text-selection_color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }

    .thumbelina-but.disabled,
    .thumbelina-but.disabled:hover {
        background-color: #efefef;
        color: #ccc;
        cursor: default;
        box-shadow: none;
    }

    .thumbelina-but.horiz {
        width: 20px;
        height: 120px;
        line-height: 120px;
        top: -1px;
    }

    .thumbelina-but.horiz.left {
        left: -22px;
        border-radius: 5px 0px 0px 5px;
    }

    .thumbelina-but.horiz.right {
        right: -22px;
        border-radius: 0px 5px 5px 0px;
    }

    >div:first-child {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 40px 0 20px;
    }

    #arrow-slider-left,
    #arrow-slider-right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 55%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid $back-and-text_color;
        transform: rotate(-90deg);
        cursor: pointer;

        >span {
            display: block;
            height: 2px;
            width: 8px;
            background-color: $back-and-text_color;
            margin-top: -2px;
        }

        >span:first-child {
            margin-right: -1.75px;
            transform: rotate(-45deg);
        }

        >span:last-child {
            margin-left: -1.75px;
            transform: rotate(-135deg);
        }
    }

    #arrow-slider-left:last-child,
    #arrow-slider-right:last-child {
        transform: rotate(90deg);
        margin-left: 5px;
    }
}

#arrow-slider-left:hover,
#arrow-slider-right:hover {
    box-shadow: inset 0 0 15px 2px rgba(30, 78, 152, 0.4);

    >span {
        height: 3px;
    }

    >span:first-child {
        margin-right: -2.25px;
    }

    >span:last-child {
        margin-left: -2.25px;
    }
}


.aboutUs {
    margin: 0 -165px;
    padding: 0 165px;
    background-color: #f9efe5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    >div:first-child {
        >img:first-child {
            margin-top: -30px;
        }

        >img:nth-child(2) {
            margin: -110px 0 -20px 60px;
        }
    }

    >div:nth-child(2) {
        align-self: center;
        margin-left: 50px;

        h3:first-child {
            margin-bottom: 30px;
            font-size: 30px;
            font-family: "agenda-light";
            color: $back-and-text_color;
            line-height: 1.5;
        }

        article {
            font-family: "agenda-light";
            line-height: 2;
        }
    }
}

footer {
    padding: 60px 0 0;

    >div:nth-child(1) {
        border-bottom: 1px solid $header-footer-line_color;

        >ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding-bottom: 40px;

            >li {
                text-transform: uppercase;
                padding: 0 10px;
                color: $back-and-text_color;
                cursor: pointer;
            }

            >li:hover {
                font-weight: bold;
                color: $primary-highlight_color;
            }
        }
    }

    >div:nth-child(2) {
        text-align: center;
        margin-bottom: 30px;

        >ul {
            padding: 30px 0 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            >li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $header-footer-line_color;
                cursor: pointer;

                >img {
                    width: 17px;
                    height: 17px;
                }
            }

            >li:hover {
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
            }

            >li:not(:first-child) {
                margin-left: 10px;
            }
        }

        >a {
            color: #727c8b;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .footer-end {
        margin: 0 -165px;
        padding: 0 165px;
        height: 40px;
        background-color: $header-footer-line_color;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        >p {
            color: $selection-of-irrelevant-text_color;
        }
    }
}

//PRELOADER
.loaderArea {
    background: linear-gradient(225deg, $back-and-text_color, $primary-highlight_color);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}

.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}

// Animated scroll
.btn-scrollUp {
    position: fixed;
    bottom: 75px;
    right: 22px;
    background-color: rgba(223, 6, 44, 0.5);
    border-radius: 25%;
    transition: .3s linear;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 25%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;

        span {
            display: block;
            height: 3px;
            width: 12px;
            border-radius: 10px;
            background-color: white;
        }

        span:first-child {
            margin-right: -2.5px;
            transform: rotate(-45deg);
        }

        span:last-child {
            margin-left: -2.5px;
            transform: rotate(-135deg);
        }
    }
}

.btn-scrollUp:hover {
    background-color: $primary-highlight_color;
    transition: .3s linear;
}

.invisible {
    display: none;
}

.opacityNone {
    opacity: 0;
}

// Hamburger
.container-for-hamburger {
    height: 20px;
    width: 20px;
    margin: 10px 15px 0 0;

    #sidebarMenu {
        position: fixed;
        left: 0;
        top: 155px;
        width: 210px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: linear-gradient(180deg, $primary-highlight_color 0%, $back-and-text_color 100%);
        z-index: 10;
    }

    .sidebarMenuInner {
        li {
            list-style: none;
            color: $basic-text-selection_color;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        }

        li:hover {
            background-color: rgba(255, 255, 255, 0.10);
        }
    }



    input[type="checkbox"]:checked~#sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        @include hamburger_transition;
        display: none;
    }

    .sidebarIconToggle {
        @include hamburger_transition;
        cursor: pointer;
        z-index: 99;
        height: 100%;
        width: 100%;
        height: 22px;
        width: 22px;

        div:nth-child(2),
        div:nth-child(4) {
            height: 5px;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .spinner {
        @include hamburger_transition;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $basic-text-selection_color;
    }

    .horizontal {
        width: 50%;
        @include hamburger_transition;
        position: relative;
        float: left;
    }

    .diagonal.part-1 {
        position: relative;
        @include hamburger_transition;
        float: left;
    }

    .diagonal.part-2 {
        @include hamburger_transition;
        position: relative;
        float: left;
    }


    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        @include hamburger_transition;
        opacity: 0;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        @include hamburger_transition;
        transform: rotate(135deg);
        margin-top: 5px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        @include hamburger_transition;
        transform: rotate(-135deg);
        margin-top: -2px;
    }
}